<div>
    <table id='calc' class='table table-borderless table-striped'>
        <thead>
            <tr class='row'>
                <th class='col'>
                    <div class='input-group'>
                        <div class='form-control bg-light'>Item</div>
                    </div>
                </th>
                <th class='col'>
                    <div class='input-group'>
                        <div class='form-control bg-light'>Market</div>
                        <div class='input-group-append'>
                            <button id='price-refresh' class='btn btn-secondary' type='button'>
                                <i class='fas fa-sync-alt'></i>
                            </button>
                        </div>
                    </div>
                </th>
                <th class='col'>
                    <div class='input-group'>
                        <div class='form-control bg-light'>Price</div>
                    </div>
                </th>
                <th class='col'>
                    <div class='input-group'>
                        <div class='form-control bg-light'>Inventory</div>
                        <div class='input-group-append'>
                            <button id='inventory-refresh' class='btn btn-secondary' type='button'>
                                <i class='fas fa-sync-alt'></i>
                            </button>
                        </div>
                    </div>
                </th>
                <th class='col'>
                    <div class='input-group'>
                        <div id='count' class='form-control bg-light'></div>
                    </div>
                </th>
                <th class='col'>
                    <div class='input-group'>
                        <div id='total' class='form-control bg-light'></div>
                        <div class='input-group-append'>
                            <button id='trade-copy' class='btn btn-secondary' type='button'>
                                <i class='fas fa-clipboard'></i>
                            </button>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br/>
</div>
