<div>
    <table id='calc' class='table'>
        <thead>
            <tr class='row'>
                <th class='col'>Item</th>
                <th class='col'>Market Price</th>
                <th class='col'>Your Price</th>
                <th class='col'>Item count</th>
                <th class='col-3'>Value</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br/>
    <div class='container'>
        <div class='row'>
            <div class='col'>Total:</div>
            <div id='total' class='col'>0</div>
        </div>
    </div>
</div>
