<div id='user-input' class='modal show backdrop'>
    <div class='modal-dialog modal-lg modal-dialog-centered'>
        <div class='modal-content'>
            <div class='modal-body'>
                <div class='input-group'>
                    <input type='text' class='form-control'>
                    <div class='input-group-append' id='user-input'>
                        <button id='submit' class='btn btn-outline-secondary' type='button'>Submit</button>
                        <button id='cancel' class='btn btn-outline-secondary' type='button'>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>