body {
    text-align: center;
}

.dark {
    filter: invert(1)hue-rotate(180deg);
    background-color: black;
}

#main {
    padding: 0px 20px;
}

#container {
    margin-top: 20px;
}

.item {
    margin: 5px;
    cursor: pointer;
}

.item span.badge {
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 50%;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.backdrop {
    position: sticky;
    background-color: rgba(0,0,0,0.7);
    z-index: 990;
}

.nav-item.divider {
    border-right: 2px solid silver;
}
