<div class='row col-6 p-3'>
  <button class='col-4 btn btn-lg bg-light name'></button>
  <div class='col-8'>
    <div class='row'>
      <label class='col'><strong class='label'></strong></label>
    </div>
    <div class='row'>
      <label class='col text-right'><strong class='label'>Gain</strong></label>
      <label class='col label text-left profit'></label>
    </div>
    <div class='row'>
      <label class='col text-right'><strong class='label'>Break Even</strong></label>
      <label class='col label text-left min'></label>
    </div>
  </div>
</div>
