<div class='container mt-3'>
  <table class='table table-hover table-borderless'>
    <thead>
      <tr class='row'>
        <th class='col'>
            <div class='input-group'>
              <div class='form-control bg-light'>Type</div>
            </div>
        </th>
        <th class='col'>
            <div class='input-group'>
              <div class='form-control bg-light'>Items in Set</div>
            </div>
        </th>
        <th class='col'>
            <div class='input-group'>
              <div class='form-control bg-light'>Points from exchange</div>
            </div>
        </th>
        <th class='col'>
            <div class='input-group'>
                <div class='form-control bg-light'>Sets in Inventory</div>
                <div class='input-group-append'>
                    <button id='item-refresh' class='btn btn-secondary' type='button' title='Refresh'>
                        <i class='fas fa-sync-alt'></i>
                    </button>
                </div>
            </div>
        </th>
        <th class='col'>
            <div class='input-group'>
                <div class='form-control bg-light'>Profit / Loss</div>
            </div>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr class='table-warning'>
        <td colspan='5'><strong>This uses bulk Torn api requests. Requests are reasonabily delayed.</strong></td>
      </tr>
    </tfoot>
  </table>
</div>
