<div>
  <div class='m-3'>
    <div class='alert alert-warning'>
      <strong class='label'>Note: There will be one api request per item per 15 secs.</strong>
    </div>
    <div id='prices' class='card-columns'></div>
  </div>
  <div class='mx-1 my-3 row'>
    <div class='col-3'>
      <div class='form-group'>
        <div class='input-group'>
          <span class='form-control vertical'>Notify drops</span>
          <div class='input-group-append'>
            <div class='input-group-text'>
              <input id='notify' type='checkbox' checked='true'>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col row'>
      <div id='selected' class='col-12'></div>
      <div class='col-12'>
        <input id='search-item' class='form-control' placeholder='Search Items'>
      </div>
      <div id='search-result' class='col-12'></div>
    </div>
  </div>
</div>
