<div class='mx-2'>
  <div id='search-list' class='align-center'></div>
  <div class='container'>
    <input id='search-inventory' type='text' class='form-control' placeholder='Search Inventory'>
    <div class='mt-2' style='align-self: center;'>
      <strong>Total: </strong>
      <span id='total'>0</span>
      <button id='trade-copy' class='btn' type='button' title='Copy'>
        <i class='fas fa-copy'></i>
      </button>
    </div>
  </div>
  <table id='calc' class='table table-borderless table-striped container'>
    <thead>
      <tr class='row'>
        <th class='col'>
          <div class='input-group'>
            <div class='form-control bg-light'>Item</div>
            <div class='input-group-append'>
              <button id='inventory-refresh' class='btn btn-secondary' type='button' title='Refresh'>
                <i class='fas fa-sync-alt'></i>
              </button>
            </div>
          </div>
        </th>
        <th class='col'>
          <div class='input-group'>
            <div class='form-control bg-light'>Market</div>
            <div class='input-group-append'>
              <button id='price-refresh' class='btn btn-secondary' type='button' title='Refresh'>
                <i class='fas fa-sync-alt'></i>
              </button>
            </div>
          </div>
        </th>
        <th class='col'>
          <div class='input-group'>
            <div class='form-control bg-light'>Values</div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <br/>
</div>
