<tr class='row item-calc'>
  <td class='col m-auto name row'>
    <button class='col-1 btn btn-bg' type='button' title='Remove'><i class='fas fa-times-circle'></i></button>
    <label class='col col-form-label'></label>
  </td>
  <td class='col m-auto price d-flex flex-wrap justify-content-center'></td>
  <td class='col m-auto'><input type='number' class='form-control' placeholder='0' /></td>
  <td class='col m-auto inventory'></td>
  <td class='col m-auto count'></td>
  <td class='col m-auto value'><label class='col-form-label'>0</label></td>
</tr>
